language: python
dist: xenial
python: "3.6"

env:
  - TOXENV=py27
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=py36
  - TOXENV=py37

install:
  - pip install -r requirements/test.txt

script:
  - pytest
